.menuitem {
  font-size: calc(3.2vh);
  color: white;
  padding-right: 1vh;
}

.fas {
  color: white;
}
.header-name {
  text-decoration: none;
  color: white;
  font-family: "Merriweather";
  font-size: 2rem;
  letter-spacing: 1px;
}

@media (min-height: 768px) {
  .navbar-collapse {
    width: min-content;
    right: 5%;
    justify-content: flex-end;
  }
  li .active {
    background-color: white;
    opacity: 0.8;
    border-radius: 5%;
    color: black;
  }

  .active:hover {
    color: black;
  }

  li a:not(.active):hover {
    font-weight: bold;
    color: white;
  }
}
